:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

body {
    color: black;
    background-color: rgb(252, 243, 231);
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.navbar1 {
    position: fixed;
    background-color: var(--bg-primary);
    height: 100vh;
    width: 5rem;
    transition: width 500ms ease;
    z-index: 1;
}

.navbar-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center
}

.navbar-item {
    margin-bottom: 60px;
    width: 100%;
}

.navbar-item:last-child {
    margin-top: auto;
}

.navbar-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.navbar-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin: 0 1.5rem;
}

ul {
    list-style-type: none;
}

i {
    min-width: 2rem;
    margin: 0 1.5rem;
}

.navbar1:hover {
    width: 16rem;
}

.navbar1:hover .link-text {
    display: block;
}

main {
    margin-left: 8rem;
}

#landing-bg{
    background-image: url('./img/landing-bg.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    filter: brightness(75%);
    position: fixed;
}

#landing-page {
    display: flex;
    flex-direction: column;
}

#landing-content {
    z-index: 1;
    padding: 2rem 8rem;
    padding-bottom: 0;
    margin-top: 2rem
}

.landing-title {
    color: white;
    z-index: 1;
    font-family: 'Spartan', sans-serif;
    font-size: 6rem;
    letter-spacing: 2rem;
    font-weight: bolder;
    margin-bottom: 0;
}

#landing-title2 {
    margin-top: 0;
}

#landing-tagline {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    font-weight: 50;
    letter-spacing: 0.2rem;
    color: white;
}

#landing-register{
    margin-top: 4rem;
    background-color: rgb(252, 243, 231);
    width: 60vw;
    padding: 1rem 2rem;
    font-family: 'Raleway', sans-serif;
    border-radius: 12px;
}

#register-title {
    font-family: 'Spartan', sans-serif;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-weight: bolder;
}

.register-label {
    font-size: 20px;
}

#login-btn-signup {
    font-size: 13px;
    cursor: pointer;
    margin: 0.5rem;

}

#login-page {
    left:25%;
    top:25%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 40vh;
    z-index: 1;
}

#login-form-div {
    width: 40vw;
    background-color: rgb(252, 243, 231);
    border-radius: 20px;
    padding: 0 2rem;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    transition: var(--transition-speed);
    padding: 10px;
}

#log-in-title {
    font-family: 'Spartan', sans-serif;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-weight: bolder;
    font-size: 2.5rem;
    text-align: center;
}

.x {
    position: relative;
    left: 95%;
    top:3%;
    color: rgb(167, 166, 166);
    cursor: pointer;
}

#dashboard-home-page {
    background-image: url('./img/home-bg.jpg');
    width: auto;
    height: 100vh;
    background-size: cover;
    padding: 5rem;
}

#welcome-back {
    display: flex; 
    flex-direction: row;
    font-family: 'Spartan', sans-serif;
    font-size:3rem;
    margin-top: 8rem;
}

.welcome-back-child{
    margin-right: 0.7rem;
}

.div-fashion-api {
    background-color: black;
    width: 45vw;
    height: 45vh;
    margin-top: 5vh;
}

#rent {
    display: flex;
    flex-direction: row;
}

#filter-div {
    width: 10vw;
    height: 100vh;
    text-align: right;
    color: black;
    margin-top: 10rem;
}

#filter-title {
font-size: 29px;
font-family: 'Raleway', sans-serif;
}



#content-body-rent {
    width: 80vw;
    padding: 2rem;
    padding-right: 0;
}

.clothe-name-card{
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    margin: 0;
}

.clothe-renter-card{
    font-family: 'Spartan', sans-serif;
    font-size: 12px;
    letter-spacing: 5px;
}

.clothe-card{
    margin-top: 1rem;
    margin: 0;
}
.card:hover{
    border-width: 2;
    border-color: black;
    transition: var(--transition-speed);
    box-shadow: 2px 2px rgb(197, 197, 197);
}

.clothe-price-card{
    font-family: sans-serif;
    color: rgb(182, 182, 182);
}

#rent-title {
    font-size: 60px;
    font-family: 'Spartan', sans-serif;
    margin-bottom: 4rem;
}

.container-clothe {
    margin-bottom: 2rem;
}
